<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to novaflightbooker.com, <%= @passenger.name %></h1>
    <p>
      You have successfully booked a flight!<br>
    </p>
    <p>
      To check out more flights, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for booking with us and have a great day!</p>
  </body>
</html>
